@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link {
    text-decoration: none;
    padding-bottom: 2px; 
    position: relative;
}

.nav-link::after {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #062093;
    transition: width 0.3s ease-in-out;
    content: "";
}

.nav-link:hover::after {
    width: 100%;
}

.nav-link.active::after {
    width: 100%;
}